/* index.css studio nutrizione */

html {
	height: 100%;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    background-color: white;
    line-height: 1.6;
    margin: 0;
	display:flex;
	flex-direction: column;
	min-height:100vh;
}

main {
	flex: 1;
}

p {
	font-size: 1.2rem;
}

.site-header {
    background-color: #4c753e; 
    padding: 20px 0; 
    color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
}

.navbar-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav-left, .nav-right {
    flex: 1;
}

.nav-center {
    flex: 2; 
}

.nav-center {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

#main-logo {
    height: auto; 
    width: auto;  
    max-height: 250px; 
    margin-bottom: 15px; 
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: normal;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent; 
    transition: border-bottom-color 0.3s ease;
}

.nav-links a:hover {
    border-bottom-color: white;
}

.nav-right {
    display: flex;
    justify-content: flex-end;
}

.user-actions {
    display: flex;
    gap: 10px; 
}



/* CSS BUTTONS */

.btn-custom {
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-login {
    background-color: white;
    color: #4c753e;
}

.btn-login:hover {
    background-color: transparent;
    color: white;
}

.btn-register {
    background-color: white;
    color: #4c753e;
}

.btn-register:hover {
    background-color: transparent;
    color: white;
}



/* CSS HERO SECTION */

.hero-section {
    position: relative;
    height: 65vh;
    color: white;
    
    background-image: url('/images/hero-background.jpeg'); 
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* per rendere più scura l'immagine */
.hero-section::before { 
    position: absolute;
	background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    font-size: 3rem; 
	text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
}

/* CSS HOME-TEXT */

.home-text {
	text-align: center;
	padding: 100px;
	max-width: 1200px;
	margin: 0 auto; 
}

.home-text p {
    max-width: 650px; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 20px; 
    font-size: 1.1rem;
    line-height: 1.8;
}

.home-text h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 0;
}

.site-name {
    color: #4c753e;
}

/* per modificare il colore di selezione testo o foto */
::selection {
    background-color: #6eab59;
    color: white;
}

#main-logo {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* CSS FOOTER */

footer {
	background-color: #4c753e; 
	padding: 2vh;
	text-align: center;
}

footer span {
	color: white;
}

footer p {
	color: white;
	font-size: 1rem;
	font-weight: normal;
}

.bottom-nav-links a {
	color: white;
	text-align: center;
}




/* CSS SERVIZI */

.services-section {
    padding: 60px 20px;
}

.section-title {
    text-align: center;
    margin-bottom: 50px;
    font-size: 2.2rem;
    font-weight: 700;
}

.services-container {
    display: flex;
    justify-content: center;
    gap: 35px;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.service-title {
    display: flex;
    justify-content: center; 
    align-items: center;     
    gap: 12px;
	margin-bottom: 15px;
	margin-top: 5em;
}

.service-title h3 {
    font-size: 1.3rem;
    margin: 0; 
}

.service-icon {
    width: 50px;
    height: 50px;
}

.service-content p {
    font-size: 1.3rem;
    line-height: 1.6;
    margin: 20px 0;
    flex-grow: 1;
	margin-bottom: 5em;
}

.service-image {
	max-width: 100%;
	height: auto;
	display: block;
}

.service-separator {
    width: 1000px; 
    height: 4px;  
    background-color: #4c753e; 
    border-radius: 2px;
    margin: 0 auto; 
}

.service-name {
	color: #4c753e;
}
