<!DOCTYPE html>

<html lang="it" xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" th:href="@{/css/dottore.css}"/>
		<title>Area Dottore: Nutrition Medical Center</title>
	</head>
	
	<body>
		
		<header class="site-header">
			<nav class="navbar-container">
				<div class="nav-left"></div>
								
				<div class="nav-center">
					<div class="logo-container">
						<a th:href="@{/}">
							<img th:src="@{/images/logo.png}" alt="Logo Sito Nutrizionale" id="main-logo">
						</a>
					</div>
					<div class="nav-links">
						<a th:href="@{/index}">Home</a>
						<a th:href="@{/dottore/visita}">Inserisci Visita</a>
						<a th:href="@{/dottore/piano}">Inserisci Piano</a>
						<a th:href="@{/contatti}">Contatti</a>
					</div>
				</div>
								
				<div class="nav-right">
					<div class="user-actions">
						<form th:action="@{/logout}" method="POST" style="display: inline;">
							<button type="submit" class="btn-custom btn-logout">Logout</button>
						</form>
					</div>
				</div>
			</nav>
		</header>
		
		
		<main>
			<section class="home-dottore-text">
				
				<div class="alert alert-primary" role="alert" th:text="${successPiano}" th:if="${successPiano}"></div>
				<div class="alert alert-primary" role="alert" th:text="${successVisita}" th:if="${successVisita}"></div>
				<div class="alert alert-primary" role="alert" th:text="${successCancellaPiano}" th:if="${successCancellaPiano}"></div>
				<div class="alert alert-primary" role="alert" th:text="${successModificaPiano}" th:if="${successModificaPiano}"></div>
				<div class="alert alert-primary" role="alert" th:text="${successCancellaPrenotazione}" th:if="${successCancellaPrenotazione}"></div>
				<div class="alert alert-primary" role="alert" th:text="${successModificaPrenotazione}" th:if="${successModificaPrenotazione}"></div>
				<div class="alert alert-danger" role="alert" th:text="${errorePianoNullo}" th:if="${errorePianoNullo}"></div>
				
				<div th:if="${dottore}">
		    		<h1>Benvenuto nell'Area Dottore, <span th:text="${dottore.name}"></span> <span th:text="${dottore.surname}"></span></h1>
				</div>	
			
		    	<div th:if="${userDetails}">
		        	<p>Sei loggato con username: <strong><span th:text="${userDetails.username}"></span></strong> <br> Qui sotto troverai tutte le 
					   informazioni e le operazioni disponibili per te:</p>
		    	</div>
		    
				<h2>Prenotazioni dei pazienti:</h2>
				<div th:if="${prenotazioniDottore == null or #lists.isEmpty(prenotazioniDottore)}">
				    <p>In questo momento non ci sono prenotazioni registrate.</p>
				</div>

				<ul class="info-list" th:unless="${prenotazioniDottore == null or #lists.isEmpty(prenotazioniDottore)}">
				    <li class="prenotazione-item" th:each="prenotazione : ${prenotazioniDottore}">
				        
				        <div class="info-item info-data">
				            <strong>Data:</strong> 
				            <span th:text="${#temporals.format(prenotazione.dateTime, 'dd/MM/yyyy HH:mm')}"></span>
				        </div>
				       
				        <div class="info-item info-paziente" th:if="${prenotazione.paziente != null}">
				            <strong>Paziente:</strong>
				            <span th:text="${prenotazione.paziente.name + ' ' + prenotazione.paziente.surname}"></span>
				        </div>
				        
				        <div class="info-item info-actions">	
				            <a class="btn-action-small btn-modifica-small" th:href="@{'/dottore/modifica-prenotazione' + '/' + ${prenotazione.id} + '/' + ${prenotazione.paziente.id}}">Modifica</a>
							<a class="btn-action-small btn-cancella-small" th:href="@{'/dottore/cancella-prenotazione' + '/' + ${prenotazione.id}}" onclick="return confirmCancella(this.href);">Cancella</a>
						</div>
				    </li>
				</ul>
			
				<h2>Visite effettuate:</h2>
				<div th:if="${visiteDottore == null or #lists.isEmpty(visiteDottore)}">
					<p>In questo momento non hai effettuato alcuna visita.</p>
				</div>
				
				<ul class="info-list" th:unless="${visiteDottore == null or #lists.isEmpty(visiteDottore)}">
					<li class="visita-item" th:each="visita : ${visiteDottore}">
						<div class="visita-content">
							<div class="visita-col-left">
								<p><strong>Data:</strong> <span th:text="${#temporals.format(visita.dateTime, 'dd/MM/yyyy HH:mm')}"></span></p>
								<p th:if="${visita.paziente != null}"><strong>Paziente:</strong> <span th:text="${visita.paziente.name + ' ' + visita.paziente.surname}"></span></p>
							</div>
								           
							<div class="visita-col-right">
								<p><strong>Tipologia:</strong> <span th:text="${visita.type}"></span></p>
								<p><strong>Descrizione:</strong> <span th:text="${visita.description}"></span></p>
							</div>	
						</div>
					</li>
				</ul>		
			
				<h2>Storico dei Piani Alimentari registrati:</h2>
				<div th:if="${pianiDottore == null or #lists.isEmpty(pianiDottore)}">
				    <p>In questo momento non hai registrato nessun piano alimentare.</p>
				</div>

				<div class="piani-container" th:unless="${pianiDottore == null or #lists.isEmpty(pianiDottore)}">
					
				    <div class="piano-elem" th:each="piano : ${pianiDottore}">
						
				        <div class="elem-content">
				            <h4 class="elem-title" th:if="${piano.paziente != null}">
				                <span th:text="${piano.paziente.name + ' ' + piano.paziente.surname}"></span>
				            </h4>
							
				            <div class="elem-info">
				                <p><strong>Data inizio: </strong><span th:text="${#temporals.format(piano.startDate, 'dd/MM/yyyy')}"></span></p>
				                <p th:if="${piano.endDate != null}"><strong>Data fine:</strong> <span th:text="${#temporals.format(piano.endDate, 'dd/MM/yyyy')}"></span></p>
								<p th:if="${piano.endDate == null}"><strong>Data fine:</strong> -</p>
				            </div>
							
				            <div class="elem-actions">
				                <a class="btn-action btn-visualizza" th:href="@{'/dottore/visualizza-piano' + '/' + ${piano.id}}">Visualizza</a>
								<a class="btn-action btn-cancella" th:href="@{'/dottore/cancella-piano' + '/' + ${piano.id}}" onclick="return confirmCancella(this.href);">Cancella</a>
							</div>
				        </div>
						
				    </div>
					
				</div>
			</section>
		</main>
		
		
		<footer>
			<div class="bottom-nav-links">
				<a th:href="@{/}">Home</a>
				<span>|</span>
				<a th:href="@{/contatti}">Contatti</a>
			</div>
			<p>© Copyright 2025. Tutti i diritti riservati.</p>
		</footer>
	
		<script>
			function confirmCancella(urlCancellazione) {
				if (window.confirm("Sei sicuro di voler effettuare la cancellazione?")) {
					window.location.href = urlCancellazione; 
				}
				return false;
			}
		</script>	
		
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>		
	
	</body>
	
</html>
